@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
 
}.background{
  background-image: url(../images/bg-main-desktop.png);
  background-repeat: no-repeat;
  
}.input{
  border: solid 1px;
  padding: 1rem;
}.p{
  font-weight: bold;
  font-size: small;
  letter-spacing: .1em;
  
}.button{
  background: hsl(278, 68%, 11%);
  
}
@media only screen and(min-width: 1485px){
  .background{
    background-size: 90% 100%;
  }
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
